@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

/* Theme */
@theme {
  --color-primary-50: #f2fbf2;
  --color-primary-100: #e1f8e0;
  --color-primary-200: #c4efc3;
  --color-primary-300: #94e293;
  --color-primary-400: #5ecb5d;
  --color-primary-500: #38b037;
  --color-primary-600: #289128;
  --color-primary-700: #267e26;
  --color-primary-800: #205b20;
  --color-primary-900: #1c4b1d;
  --color-primary-950: #0a290b;

  --color-metrixblack-50: #c6c6c6;
  --color-metrixblack-100: #ababab;
  --color-metrixblack-200: #919191;
  --color-metrixblack-300: #777777;
  --color-metrixblack-400: #5e5e5e;
  --color-metrixblack-500: #474747;
  --color-metrixblack-600: #303030;
  --color-metrixblack-700: #1b1b1b;
  --color-metrixblack-800: #000000;
  --color-metrixblack-900: #000000;
  --color-metrixblack-950: #000000;
}

/* Leaflet override styles */
  /* Popups style */
.leaflet-popup-content-wrapper {
  @apply !bg-white dark:!bg-metrixblack-800 dark:!text-white;
  @apply !min-w-64 !p-0 !m-0;
}

.leaflet-popup-content {
  @apply !m-0;
}

.leaflet-popup-tip {
  @apply !bg-white dark:!bg-metrixblack-800;
}